In [6]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\sak\Documents\current_hackathon\bank_ruptcy\Bankruptcy dataset\5year.csv")

###### above feature set i have gone through some feature engineering steps
###### missing imputation------>gaussian transformation ----->decision tree descritisation------>scaling --->feature selection
[['Attr1', 'Attr4', 'Attr21', 'Attr27', 'Attr34', 'Attr35', 'Attr52', 'Attr53', 'Attr58']] i got these features

###### but important analysis i found that feature set using these above feature engineering steps giving best result on original data aftter imputation only

In [3]:
year_5=data[['Attr1', 'Attr4', 'Attr21', 'Attr27', 'Attr34', 'Attr35', 'Attr52', 'Attr53', 'Attr58','class']]

In [4]:
k1=year_5.columns.tolist()

In [5]:
#replacing each ? to NAN
for i in k1:
    year_5[i] = year_5[i].replace('?' , np.nan)

C:\Users\sak\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
#converting object data into numericals(float64)
year_5=year_5.apply(lambda col:pd.to_numeric(col,errors='coerce'))

In [7]:
year_5

,Attr1,Attr4,Attr21,Attr27,Attr34,Attr35,Attr52,Attr53,Attr58,class
0,0.014572,1.77480,1.24440,0.17111,0.12651,0.034401,0.135250,1.18800,0.98906,0
1,0.118140,10.35600,1.13070,1.32100,1.56470,0.106810,0.084429,3.05640,0.87597,0
2,0.183090,1.75290,1.23560,16.71700,1.66960,0.644980,0.262610,0.85140,0.52907,0
3,0.046751,7.57930,0.79301,NaN,8.67340,0.003033,0.103200,2.44760,0.84173,0
4,0.035999,1.55860,1.32360,0.88616,0.24767,0.084147,0.297850,1.07620,0.90850,0
...,...,...,...,...,...,...,...,...,...,...
5422,0.012898,1.17220,1.03300,1.46370,2.36440,0.033819,0.135140,0.39944,1.01220,1
5423,-0.578050,0.16576,0.64770,NaN,-0.55316,-0.534920,0.209120,-0.46385,1.06410,1
5424,-0.179050,0.74554,0.83104,NaN,0.14077,0.176700,0.669130,-1.70670,0.85112,1
5425,-0.108860,1.08780,1.12100,NaN,-0.13435,-0.099950,0.192470,0.11530,1.18320,1
5426,-0.105370,0.91478,0.71351,NaN,-0.15467,-0.082947,0.356320,0.90779,1.05220,1

#####  so here i m building model on entire dataset for , so i m not divinding into train and test dataset , so that i do have ample amount of data to train our model more accurately

In [8]:
predictors=['Attr1', 'Attr4', 'Attr21', 'Attr27', 'Attr34', 'Attr35', 'Attr52', 'Attr53', 'Attr58']
target=['class']
X=year_5[predictors]
y=year_5[target]

In [9]:
#X
#y

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
# Now we impute the missing values with SimpleImputer

# create an instance of the simple imputer
# we indicate that we want to impute with the median
mean_imputer = SimpleImputer(strategy='mean',)

# we fit and transform the predictors dataframe
# the imputer will learn the mean of all variables
X_new=mean_imputer.fit_transform(X[predictors])

In [12]:
y_1=y.copy()
X_1=pd.DataFrame(X_new, columns=predictors)

##### over sampling through SMOTE is performed

In [13]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2) 
X_res, y_res = sm.fit_sample(X_1, y_1)

In [14]:
len(X_res)

10034

In [15]:
len(y_res)

10034

###### Note:- since , i have not splited my data into train-test dataset so my independent and dependent data are in pandas dataframe so in order to implement in XGBoostingClassifier algo in pickled , model will not take dataframe data as input to predict , so i need to convert X(input data ) into numpy array , i m not converting y into numpy array¶

In [16]:
#type(X_res)
type(y_res)

pandas.core.frame.DataFrame

In [17]:
X=np.array(X_res)
y=np.array(y_res)

In [18]:
#type(X)
#type(y)

In [7]:
import seaborn as sns
import xgboost as xgb
# Classification metrices
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report, precision_score,recall_score,f1_score

In [20]:
xgb.__version__

'1.1.1'

#### functionalizing the model

In [8]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
import pickle

In [22]:
# Functionalize model fittting

def FitModel(X,Y,algo_name,algorithm,gridSearchParams,cv):
    np.random.seed(10)
    x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2)
    
    
    grid = GridSearchCV(
        estimator=algorithm,
        param_grid=gridSearchParams,
        cv=cv, scoring='accuracy', verbose=1, n_jobs=-1)
    
    
    grid_result = grid.fit(x_train, y_train)
    best_params = grid_result.best_params_
    pred = grid_result.predict(x_test)
    cm = confusion_matrix(y_test, pred)
   # metrics =grid_result.gr
    print(pred)
    pickle.dump(grid_result,open(algo_name,'wb'))
   
    print('Best Params :',best_params)
    print('Classification Report :',classification_report(y_test,pred))
    print('Accuracy Score : ' + str(accuracy_score(y_test,pred)))
    print('Confusion Matrix : \n', cm)

In [23]:
param ={
            'n_estimators': [50, 100, 500, 1000, 2000],
           
        }
FitModel(X,y,'finalized_model1.pkl',XGBClassifier(),param,cv=5)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  1.6min finished
C:\Users\sak\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[0 1 1 ... 0 1 1]
Best Params : {'n_estimators': 1000}
Classification Report :               precision    recall  f1-score   support

           0       0.97      0.95      0.96      1028
           1       0.95      0.97      0.96       979

    accuracy                           0.96      2007
   macro avg       0.96      0.96      0.96      2007
weighted avg       0.96      0.96      0.96      2007

Accuracy Score : 0.9611360239162929
Confusion Matrix :
 [[977  51]
 [ 27 952]]

### Reloading the Saved Model

In [9]:

loaded_model = pickle.load(open("finalized_model1.pkl","rb"))

In [10]:
pred = loaded_model.predict(np.array([[0.035999,1.55860,1.32360,0.88616,0.24767,0.084147,0.297850,1.07620,0.90850]]))

In [11]:
print(pred)

[0]

In [12]:
def change (prediction):
    if prediction==1:
        return 'yes'
    else:
        return 'No'

In [13]:
print('some of the features of company:-')
print('net profit / total assets = 0.035999')
print('current assets / short-term liabilities = 1.55860 ')
print('sales (n) / sales (n-1) = 1.32360')
print('profit on operating activities / financial expenses = 0.88616')
print('operating expenses / total liabilities = 0.24767')
print('profit on sales / total assets = 0.084147')
print('(short-term liabilities * 365) / cost of products sold) = 0.297850')
print('equity / fixed assets = 1.07620')
print('total costs /total sales = 0.90850')

print('\n\n')

print('will company go for bankruptcy ? {}'.format(change(pred)))

some of the features of company:-
net profit / total assets = 0.035999
current assets / short-term liabilities = 1.55860
sales (n) / sales (n-1) = 1.32360
profit on operating activities / financial expenses = 0.88616
operating expenses / total liabilities = 0.24767
profit on sales / total assets = 0.084147
(short-term liabilities * 365) / cost of products sold) = 0.297850
equity / fixed assets = 1.07620
total costs /total sales = 0.90850



will company go for bankruptcy ? No