In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\sak\Documents\current_hackathon\bank_ruptcy\Bankruptcy dataset\3year.csv")

C:\Users\sak\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (14,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

###### above feature set i have gone through some feature engineering steps
###### missing imputation------>gaussian transformation ----->decision tree descritisation------>scaling --->feature selection
[['Attr4','Attr5',  'Attr9', 'Attr13','Attr15', 'Attr21', 'Attr22', 'Attr24',
      'Attr27',  'Attr34', 'Attr35', 'Attr40','Attr44'
      'Attr46', 'Attr56']] i got these features

###### but important analysis i found that feature set using these above feature engineering steps giving best result on original data aftter imputation only

In [3]:
year_3=data[['Attr4','Attr5',  'Attr9', 'Attr13','Attr15', 'Attr21', 'Attr22', 'Attr24',
      'Attr27',  'Attr34', 'Attr35', 'Attr40', 'Attr44', 
      'Attr46', 'Attr56','class']]

In [4]:
k1=year_3.columns.tolist()

In [5]:
#replacing each ? to NAN
for i in k1:
    year_3[i] = year_3[i].replace('?' , np.nan)

C:\Users\sak\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
#converting object data into numericals(float64)
year_3=year_3.apply(lambda col:pd.to_numeric(col,errors='coerce'))

In [7]:
year_3

,Attr4,Attr5,Attr9,Attr13,Attr15,Attr21,Attr22,Attr24,Attr27,Attr34,Attr35,Attr40,Attr44,Attr46,Attr56,class
0,1.34800,-28.9820,1.1961,0.142330,592.24,0.99690,0.295100,0.756410,1.97370,0.714530,0.295100,0.212820,58.109,0.902210,0.163960,0
1,1.62940,2.5952,1.6018,0.126470,829.46,5.08890,0.175710,NaN,44.59300,3.383600,0.044076,0.164060,88.801,1.033000,0.027516,0
2,3.15990,84.8740,1.0077,0.030966,2094.10,0.67451,0.040610,0.234700,0.32153,0.179600,0.040610,0.844690,96.251,2.329000,0.007639,0
3,1.78330,-10.1050,1.0509,0.036812,3299.40,0.62795,0.055446,0.569440,0.44844,0.128240,0.055446,0.178260,72.237,0.909540,0.048398,0
4,1.92790,-58.2740,1.3393,0.187800,602.31,1.20390,0.234930,0.000000,44.94700,2.657400,0.236350,0.013769,51.585,0.526850,0.176480,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,0.65465,-85.8970,1.0324,0.032144,4252.70,0.91143,0.037949,0.007151,NaN,0.053657,0.037949,0.005115,52.402,0.394580,0.031373,1
10472,0.51247,-90.5840,1.2994,-0.047410,-3551.30,0.49294,-0.165960,1.313400,-5.71820,2.497900,-0.197220,0.047025,21.329,0.220080,-0.151780,1
10473,1.22850,-51.8630,3.4895,0.019833,3631.90,NaN,0.047285,0.222320,0.73724,5.161000,-0.006105,0.036175,17.472,0.982480,-0.001793,1
10474,0.34372,-375.1600,0.8830,0.095468,4468.80,1.36960,-0.034479,0.026163,NaN,-0.027477,-0.034479,0.014548,20.965,0.063689,-0.132500,1
10475,8.01250,42.6760,6.8082,-0.014442,-463.30,1.98050,-0.098326,0.154980,NaN,55.339000,-0.098326,4.703600,22.140,4.703600,-0.014442,1

#####  so here i m building model on entire dataset for , so i m not divinding into train and test dataset , so that i do have ample amount of data to train our model more accurately

In [8]:
predictors=['Attr4','Attr5',  'Attr9', 'Attr13','Attr15', 'Attr21', 'Attr22', 'Attr24',
      'Attr27',  'Attr34', 'Attr35', 'Attr40', 'Attr44', 
      'Attr46', 'Attr56']
target=['class']
X=year_3[predictors]
y=year_3[target]

In [9]:
#X
#y

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
# Now we impute the missing values with SimpleImputer

# create an instance of the simple imputer
# we indicate that we want to impute with the median
mean_imputer = SimpleImputer(strategy='mean',)

# we fit and transform the predictors dataframe
# the imputer will learn the mean of all variables
X_new=mean_imputer.fit_transform(X[predictors])

In [12]:
y_1=y.copy()
X_1=pd.DataFrame(X_new, columns=predictors)

##### over sampling through SMOTE is performed

In [13]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2) 
X_res, y_res = sm.fit_sample(X_1, y_1)

In [14]:
len(X_res)

20016

In [15]:
len(y_res)

20016

###### Note:- since , i have not splited my data into train-test dataset so my independent and dependent data are in pandas dataframe so in order to implement in XGBoostingClassifier algo in pickled , model will not take dataframe data as input to predict , so i need to convert X(input data ) into numpy array , i m not converting y into numpy array¶

In [16]:
#type(X_res)
type(y_res)

pandas.core.frame.DataFrame

In [17]:
X=np.array(X_res)
y=np.array(y_res)

In [18]:
#type(X)
#type(y)

In [19]:
import seaborn as sns
import xgboost as xgb
# Classification metrices
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report, precision_score,recall_score,f1_score

In [20]:
xgb.__version__

'1.1.1'

#### functionalizing the model

In [21]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
import pickle

In [22]:
# Functionalize model fittting

def FitModel(X,Y,algo_name,algorithm,gridSearchParams,cv):
    np.random.seed(10)
    x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2)
    
    
    grid = GridSearchCV(
        estimator=algorithm,
        param_grid=gridSearchParams,
        cv=cv, scoring='accuracy', verbose=1, n_jobs=-1)
    
    
    grid_result = grid.fit(x_train, y_train)
    best_params = grid_result.best_params_
    pred = grid_result.predict(x_test)
    cm = confusion_matrix(y_test, pred)
   # metrics =grid_result.gr
    print(pred)
    pickle.dump(grid_result,open(algo_name,'wb'))
   
    print('Best Params :',best_params)
    print('Classification Report :',classification_report(y_test,pred))
    print('Accuracy Score : ' + str(accuracy_score(y_test,pred)))
    print('Confusion Matrix : \n', cm)

In [23]:
param ={
            'n_estimators': [50, 100, 500, 1000, 2000],
           
        }
FitModel(X,y,'finalized_model3.pkl',XGBClassifier(),param,cv=5)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  5.6min finished
C:\Users\sak\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[1 1 0 ... 1 0 0]
Best Params : {'n_estimators': 500}
Classification Report :               precision    recall  f1-score   support

           0       0.99      0.98      0.99      1993
           1       0.98      0.99      0.99      2011

    accuracy                           0.99      4004
   macro avg       0.99      0.99      0.99      4004
weighted avg       0.99      0.99      0.99      4004

Accuracy Score : 0.9865134865134865
Confusion Matrix :
 [[1950   43]
 [  11 2000]]

### Reloading the Saved Model

In [24]:

loaded_model = pickle.load(open("finalized_model3.pkl","rb"))

In [25]:
pred = loaded_model.predict(np.array([[0.51247,90.5840,1.2994,-0.047410,-3551.30,0.49294,-0.165960,1.313400,-5.71820,2.497900,-0.197220,0.047025,21.329,0.220080,-0.151780]]))

In [26]:
print(pred)

[1]

In [27]:
def change (prediction):
    if prediction==1:
        return 'yes'
    else:
        return 'No'

In [28]:
print('some of the features of company:-')
print('current assets / short-term liabilities = 0.51247')
print('[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365 = 90.5840')
print('sales / total assets = 1.2994')
print('(gross profit + depreciation) / sales = -0.047410')
print('(total liabilities * 365) / (gross profit + depreciation) = -3551.30')
print('sales (n) / sales (n-1) = 0.49294')
print('profit on operating activities / total assets = -0.165960')
print('gross profit (in 3 years) / total assets = 1.313400')
print('profit on operating activities / financial expenses = -5.71820')
print('operating expenses / total liabilities = 2.497900')
print('profit on sales / total assets = -0.197220')
print('(current assets - inventory - receivables) / short-term liabilities = 0.047025')
print('(receivables * 365) / sales = 21.329')
print('(current assets - inventory) / short-term liabilities = 0.220080')
print('(sales - cost of products sold) / sales = -0.151780')

print('\n\n')

print('will company go for bankruptcy ? {}'.format(change(pred)))

some of the features of company:-
current assets / short-term liabilities = 0.51247
[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365 = 90.5840
sales / total assets = 1.2994
(gross profit + depreciation) / sales = -0.047410
(total liabilities * 365) / (gross profit + depreciation) = -3551.30
sales (n) / sales (n-1) = 0.49294
profit on operating activities / total assets = -0.165960
gross profit (in 3 years) / total assets = 1.313400
profit on operating activities / financial expenses = -5.71820
operating expenses / total liabilities = 2.497900
profit on sales / total assets = -0.197220
(current assets - inventory - receivables) / short-term liabilities = 0.047025
(receivables * 365) / sales = 21.329
(current assets - inventory) / short-term liabilities = 0.220080
(sales - cost of products sold) / sales = -0.151780



will company go for bankruptcy ? yes