In [24]:
import pandas as pd 
import numpy as np

In [25]:
data=pd.read_csv(r"C:\Users\sak\Documents\current_hackathon\bank_ruptcy\Bankruptcy dataset\2year.csv")

C:\Users\sak\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,2,5,6,8,9,10,13,17,21,23,24,28,34,35,37,47,50,54,56,58) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

###### above feature set i have gone through some feature engineering steps
###### missing imputation------>gaussian transformation ----->decision tree descritisation------>scaling --->feature selection
[['Attr5', 'Attr6', 'Attr8', 'Attr12', 'Attr21', 'Attr22', 'Attr24', 'Attr27', 'Attr28', 'Attr34', 'Attr35', 'Attr40', 'Attr42', 'Attr46', 'Attr51', 'Attr53', 'Attr54', 'Attr56', 'Attr58']] i got these features

###### but important analysis i found that feature set using these above feature engineering steps giving best result on original data aftter imputation only

In [26]:
year_2 = data[['Attr5', 'Attr6', 'Attr8', 'Attr12', 'Attr21', 'Attr22', 'Attr24', 'Attr27', 'Attr28', 'Attr34', 'Attr35', 'Attr40', 'Attr42', 'Attr46', 'Attr51', 'Attr53', 'Attr54', 'Attr56', 'Attr58','class']]

In [27]:
k1=year_2.columns.tolist()

In [28]:
#replacing each ? to NAN
for i in k1:
    year_2[i] = year_2[i].replace('?' , np.nan)

C:\Users\sak\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
#converting object data into numericals(float64)
year_2=year_2.apply(lambda col:pd.to_numeric(col,errors='coerce'))

In [30]:
year_2

,Attr5,Attr6,Attr8,Attr12,Attr21,Attr22,Attr24,Attr27,Attr28,Attr34,Attr35,Attr40,Attr42,Attr46,Attr51,Attr53,Attr54,Attr56,Attr58,class
0,-14.54700,0.510690,0.918160,0.545610,1.08060,0.223490,0.631050,1.63450,0.815590,0.480630,0.223490,0.464890,0.141900,1.12070,0.46490,1.44860,1.44900,0.131840,0.86816,0
1,-37.85900,-0.000319,0.678900,0.075493,NaN,0.042196,NaN,79.75200,0.714320,0.477250,0.039298,0.028211,0.130410,0.95419,0.55197,1.54730,1.54730,0.121460,0.87235,0
2,71.79900,0.000000,2.332000,1.064400,1.11460,0.304660,NaN,52.88600,18.836000,4.673400,0.276560,0.179420,0.181750,1.92920,0.29949,19.77700,19.77700,0.164990,0.81614,0
3,-88.21200,0.000000,0.473840,0.551560,1.27040,0.379470,NaN,3.95210,0.097146,1.378600,0.388740,0.087377,0.286580,0.59298,0.51680,0.73000,1.08370,0.293580,0.78617,0
4,21.73100,0.187900,1.371400,0.284520,1.35960,0.188340,0.226020,1.34420,1.379700,0.495140,0.188340,0.201730,0.120810,1.22580,0.38039,2.00350,2.00350,0.101240,0.89876,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10168,-105.55000,0.029970,0.482740,0.064770,0.81828,0.051694,0.038888,NaN,0.198710,0.077379,0.051694,0.014852,0.045344,0.49611,0.60040,0.96742,1.17040,0.028377,0.97162,1
10169,-24.80100,0.012843,0.905900,0.030465,0.96468,0.036725,0.012843,NaN,-0.217330,0.074484,0.036725,0.288930,0.009564,0.43181,0.42156,0.60436,0.70111,0.014247,0.98575,1
10170,-85.57100,0.015092,0.694880,0.017746,1.26500,0.018633,0.009826,NaN,-0.389370,0.033417,0.018633,0.006711,0.010534,0.27375,0.55368,0.53011,0.53546,0.005971,0.99403,1
10171,0.95483,-0.002554,1.114400,0.003791,0.64299,-0.020174,0.001785,NaN,4.029500,-0.042854,-0.020174,0.022033,-0.007548,1.01760,0.47076,4.98570,4.98570,-0.007122,1.00710,1
10172,-119.92000,0.015226,0.059818,0.002213,0.58677,0.055467,0.017617,0.84534,-0.679870,1.824400,0.055389,0.019268,0.031251,0.47484,0.93614,0.28468,0.32249,0.031154,0.96220,1

#####  so here i m building model on entire dataset for , so i m not divinding into train and test dataset , so that i do have ample amount of data to train our model more accurately

In [31]:
predictors=['Attr5', 'Attr6', 'Attr8', 'Attr12', 'Attr21', 'Attr22', 'Attr24', 'Attr27', 'Attr28', 'Attr34', 'Attr35', 'Attr40', 'Attr42', 'Attr46', 'Attr51', 'Attr53', 'Attr54', 'Attr56', 'Attr58']
target=['class']
X=year_2[predictors]
y=year_2[target]

In [32]:
#X
#y

In [33]:
from sklearn.impute import SimpleImputer

In [34]:
# Now we impute the missing values with SimpleImputer

# create an instance of the simple imputer
# we indicate that we want to impute with the median
mean_imputer = SimpleImputer(strategy='mean',)

# we fit and transform the predictors dataframe
# the imputer will learn the mean of all variables
X_new=mean_imputer.fit_transform(X[predictors])

In [35]:
y_1=y.copy()
X_1=pd.DataFrame(X_new, columns=predictors)

##### over sampling through SMOTE is performed

In [36]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2) 
X_res, y_res = sm.fit_sample(X_1, y_1)

In [37]:
len(X_res)

19546

In [38]:
len(y_res)

19546

###### Note:- since , i have not splited my data into train-test dataset so my independent and dependent data are in pandas dataframe so in order to implement in XGBoostingClassifier algo in pickled , model will not take dataframe data as input to predict , so i need to convert X(input data ) into numpy array , i m not converting y into numpy array¶

In [39]:
#type(X_res)
type(y_res)

pandas.core.frame.DataFrame

In [40]:
X=np.array(X_res)
y=np.array(y_res)

In [41]:
#type(X)
#type(y)

In [42]:
import seaborn as sns
import xgboost as xgb
# Classification metrices
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report, precision_score,recall_score,f1_score

In [43]:
xgb.__version__

'1.1.1'

#### functionalizing the model

In [44]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
import pickle

In [45]:
# Functionalize model fittting

def FitModel(X,Y,algo_name,algorithm,gridSearchParams,cv):
    np.random.seed(10)
    x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2)
    
    
    grid = GridSearchCV(
        estimator=algorithm,
        param_grid=gridSearchParams,
        cv=cv, scoring='accuracy', verbose=1, n_jobs=-1)
    
    
    grid_result = grid.fit(x_train, y_train)
    best_params = grid_result.best_params_
    pred = grid_result.predict(x_test)
    cm = confusion_matrix(y_test, pred)
   # metrics =grid_result.gr
    print(pred)
    pickle.dump(grid_result,open(algo_name,'wb'))
   
    print('Best Params :',best_params)
    print('Classification Report :',classification_report(y_test,pred))
    print('Accuracy Score : ' + str(accuracy_score(y_test,pred)))
    print('Confusion Matrix : \n', cm)

In [46]:
param ={
            'n_estimators': [50, 100, 500, 1000, 2000],
           
        }
FitModel(X,y,'finalized_model4.pkl',XGBClassifier(),param,cv=5)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  6.1min finished
C:\Users\sak\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[0 1 1 ... 1 0 0]
Best Params : {'n_estimators': 500}
Classification Report :               precision    recall  f1-score   support

           0       0.99      0.98      0.99      1930
           1       0.98      0.99      0.99      1980

    accuracy                           0.99      3910
   macro avg       0.99      0.99      0.99      3910
weighted avg       0.99      0.99      0.99      3910

Accuracy Score : 0.9890025575447571
Confusion Matrix :
 [[1897   33]
 [  10 1970]]

### Reloading the Saved Model

In [47]:

loaded_model = pickle.load(open("finalized_model4.pkl","rb"))

In [48]:
pred = loaded_model.predict(np.array([[-14.54700,0.510690,0.918160,0.545610,1.08060,0.223490,0.631050,1.63450,0.815590,0.480630,0.223490,0.464890,0.141900,1.12070,0.46490,1.44860,1.44900,0.131840,0.86816]]))

In [49]:
print(pred)

[0]

In [50]:
def change (prediction):
    if prediction==1:
        return 'yes'
    else:
        return 'No'

In [51]:
print('some of the features of company:-')
print(' [(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365 = -14.54700')
print('retained earnings / total assets = 0.510690')
print('book value of equity / total liabilities = 0.918160')
print('gross profit / short-term liabilities = 0.545610')
print('sales (n) / sales (n-1) = 1.08060')
print('profit on operating activities / total assets = 0.223490')
print('gross profit (in 3 years) / total assets = 0.631050')
print('profit on operating activities / financial expenses = 1.63450')
print('working capital / fixed assets = 0.815590')
print('operating expenses / total liabilities = 0.480630')
print('profit on sales / total assets = 0.223490')
print('(current assets - inventory - receivables) / short-term liabilities = 0.464890')
print('profit on operating activities / sales = 0.141900')
print('(current assets - inventory) / short-term liabilities = 1.12070')
print('short-term liabilities / total assets = 0.46490')
print('equity / fixed assets = 1.44860')
print('( constant capital / fixed assets= 1.44900')
print('(sales - cost of products sold) / sales = 0.131840')
print('total costs /total sales = 0.86816')
print('\n\n')

print('will company go for bankruptcy ? {}'.format(change(pred)))

some of the features of company:-
 [(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365 = -14.54700
retained earnings / total assets = 0.510690
book value of equity / total liabilities = 0.918160
gross profit / short-term liabilities = 0.545610
sales (n) / sales (n-1) = 1.08060
profit on operating activities / total assets = 0.223490
gross profit (in 3 years) / total assets = 0.631050
profit on operating activities / financial expenses = 1.63450
working capital / fixed assets = 0.815590
operating expenses / total liabilities = 0.480630
profit on sales / total assets = 0.223490
(current assets - inventory - receivables) / short-term liabilities = 0.464890
profit on operating activities / sales = 0.141900
(current assets - inventory) / short-term liabilities = 1.12070
short-term liabilities / total assets = 0.46490
equity / fixed assets = 1.44860
( constant capital / fixed assets= 1.44900
(sales - cost of products sold) / sales = 0.131840
total costs /total sales = 0.86816



will company go for bankruptcy ? No